@{
    ViewData["Title"] = "Home Page";
}

<a href='@Url.Action("ReadArticle", "Home")'>
    <button>Makale Okuma</button>
</a>
<a href='@Url.Action("TestGame", "Home")'>
    <button>Kelime Bilgini Test Et</button>
</a>
<a href='@Url.Action("FindDefinitions", "Home")'>
    <button>Kelimelerin Anlamlarını Bul</button>
</a>

